<!--Master classes-->
<section class="master-classes-section">
<div class="master-classes-container">
  <div class="master-classes-wrapper">
    <div class="master-classes-info">
    <h2 class="master-classes-title">Master classes</h2>
  <p class="master-classes-registration">Registration for Master Classes in Sami's Flowers</p>
  <div class="divider"></div>
  <p class="master-classes-text-accent">Want to learn how to create bouquets yourself?</p>
  <p class="master-classes-text">
    From time to time, we hold master classes for everyone who wants to learn
    how to work with flowers and create unique bouquets.
  </p>
  <ul class="master-classes-list">
    <li class="master-classes-item">
      <div>
        <img src="./images/about/bottom/flovers-01.png" alt="flovers-01" width="70" height="70" />
      </div>
          <div class="master-classes-price-wrapp">
            <div class="master-classes-price">
              <h3 class="master-classes-price-title">Spring Flowers Composition</h3>
          <div class="divider"></div>
            <p class="master-classes-price-info">$50</p>
          </div>
            <p class="master-classes-price-text">Create your own flower arrangement with tulips and daffodils.</p>
        </div>
    </li>
    <li class="master-classes-item">
      <div>
        <img src="./images/about/bottom/flovers-02.png" alt="flovers-01" width="70" height="70" />
      </div>
          <div class="master-classes-price-wrapp">
            <div class="master-classes-price">
              <h3 class="master-classes-price-title">
              Rosy Roses Composition</h3>
          <div class="divider"></div>
            <p class="master-classes-price-info">$60</p>
          </div>
            <p class="master-classes-price-text">Learn how to work with roses of different species.</p>
        </div>
    </li>
  </ul>
  <a class="sign-up-link" href="index.html#our-services">Sign up</a>
  </div>
    <div class="flovers-shop-img">
      <img src="./images/about/bottom/flovers-03.png" alt="flovers-03" width="472" height="548" />
    </div>
  </div>
</div>
</section>
<!--Our team-->
<section>
  <div class="our-team-title-wrapper">
    <h2 class="master-classes-title"> Our Team</h2>
    <p class="master-classes-registration">Meet Our Team</p>
    <p class="master-classes-text-accent">We are flower lovers an professional florists.</p>
  </div>
  <div class="our-team-boxes-wrapper">
    <div class="our-team-box">
      <h3>Sami Smith</h3>
      <p>Owner / florist</p>
      <p>
        Sami is our founder and main inspirer. Sami is responsible for ordering
        flowers from suppliers and creating exclusive bouquets.
      </p>
      <ul>
        <li>
          <a href="https://uk-ua.facebook.com/" target="_blank">
            <img src="./images/about/bottom/facebook-logo.svg" alt="Facebook logo" width="32" height="32" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="./images/about/bottom/instagram-logo.svg" alt="instagram logo" width="32" height="32" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank">
            <img src="./images/about/bottom/twitter-logo.svg" alt="Twitter logo" width="33" height="27" />
          </a>
        </li>
        <li>
          <a href="https://www.viber.com/" target="_blank">
            <img src="./images/about/bottom/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32" />
          </a>
        </li>
      </ul>
    </div>
    <div class="our-team-box">
      </div>
        <img src="./images/about/bottom/sami-smith.jpg" alt="sami-smith" width="295" height="293" />
      </div>
    </div>
    <div class="our-team-box">
      <h2 class="name-style">Join Our Team</h2>
      <p class="description-text-white">Want to work with flowers and create stunning compositions?</p>
      <p class="cv-link-white">Send your CV</p>
    </div>
    <div class="our-team-box">
      <img src="./images/about/bottom/mioko-sudoru.jpg" alt="mioko-sudoru" width="295" height="293" />
    </div>
    <div class="our-team-box">
      <h3 class="name-style">Sami Smith</h3>
      <p class="position"><em>Owner / florist</em></p>
      <p class="description-text">
        Sami is our founder and main inspirer. Sami is responsible for ordering flowers from suppliers and creating exclusive bouquets.
      </p>
      <ul>
        <li>
          <a href="https://uk-ua.facebook.com/" target="_blank">
            <img src="./images/about/bottom/facebook-logo.svg" alt="Facebook logo" width="32" height="32" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="./images/about/bottom/instagram-logo.svg" alt="instagram logo" width="32" height="32" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank">
            <img src="./images/about/bottom/twitter-logo.svg" alt="Twitter logo" width="33" height="27" />
          </a>
        </li>
        <li>
          <a href="https://www.viber.com/" target="_blank">
            <img src="./images/about/bottom/whatsapp-logo.svg" alt="Whatsapp logo" width="32" height="32" />
          </a>
        </li>
      </ul>
    </div>
    <div class="our-team-box">
      <img src="./images/about/bottom/team-photo.jpg" alt="mioko-sudoru" width="295" height="306" />
    </div>
  </div>
</section>
<!--Christian Dior quote-->
<section>
  <div class=".master-classes-section">
    <div class="bottom-wrpper-quote">
      <div class="divider__wide"></div>
        <p class="quote-text">
          "After women, flowers are the most lovely thing God has given the world."
        </p>
      <div class="divider-quote"></div>
      </div>
        <!--Тут мають бути імеджи лапок -->
        </div>
        <p class="quote-text-brown">-Christian Dior-</p>
    </div>
</section>